Classification
- process of categorizing the given set of data into the classes
- the target values are discrete in nature
- target might contain the values like yes,no or 0,1,2,3 or p,f
2 types
- binomial- target column has only 2 classes----pass or fail
- multiclass- target colmn has more 2 classes---0,1,2,3  
***spam dectection***   
***risk assesments***    
***medical diagnosis***   
***image classification***

#### KNN--K Nearest Neighbours
- k- no of neighbours---similarites
- Eucledian distance sqrt((x2-x1)^2+(y2-y1)^2)
- to choose the value of k--sqrt(n)--no of samples or inputs


[shirt.csv](https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/shirt.csv)

In [4]:
###get the data###
import pandas as pd
df=pd.read_csv("shirt.csv")
df.head()

   Height  Weight Size
0     158      58    M
1     158      59    M
2     158      63    M
3     160      59    M
4     160      60    M

In [5]:
df.isna().sum()

Height    0
Weight    0
Size      0
dtype: int64

In [6]:
#to convert the string data of the target column we use label encoder
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df['Size']=labelencoder.fit_transform(df['Size'])
df

    Height  Weight  Size
0      158      58     1
1      158      59     1
2      158      63     1
3      160      59     1
4      160      60     1
5      163      60     1
6      163      61     1
7      160      64     0
8      163      64     0
9      165      61     0
10     165      61     0
11     165      62     0
12     168      62     0
13     168      63     0
14     168      66     0
15     170      63     0
16     170      64     0
17     170      68     0

In [8]:
x=df[["Height",'Weight']]
x.head(2)

   Height  Weight
0     158      58
1     158      59

In [9]:
y=df["Size"]
y.head(2)

0    1
1    1
Name: Size, dtype: int32

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=25)

In [21]:
x_train.shape

(12, 2)

In [22]:
x_train

    Height  Weight
2      158      63
17     170      68
6      163      61
3      160      59
16     170      64
13     168      63
9      165      61
10     165      61
5      163      60
15     170      63
1      158      59
7      160      64

In [15]:
x_test.shape

(6, 2)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [25]:
x_test.head(2)

    Height  Weight
8      163      64
11     165      62

In [26]:
y_test.head(2)

8     0
11    0
Name: Size, dtype: int32

In [28]:
knn.predict([[163,64],[165,62]])

array([0, 0])

In [30]:
y_predict=knn.predict(x_test)
y_predict

array([0, 0, 1, 1, 0, 0])

In [31]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))

1.0

***apply knn to the iris dataset***

In [33]:
from sklearn.datasets import load_iris

In [34]:
iris_df=load_iris()

In [36]:
iris_df.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [38]:
print(iris_df.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [40]:
iris_df.filename

'C:\\Users\\Public\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'

In [44]:
iris_df.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [43]:
df=pd.DataFrame(iris_df.data,columns=iris_df.feature_names)
df["Target"]=iris_df.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [45]:
#iloc----indexlocation---iloc[rows,col]
x=df.iloc[:,0:4]
x.head(2)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

In [46]:
y=df["Target"]
y.head(2)

0    0
1    0
Name: Target, dtype: int32

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=56)

In [70]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [71]:
y_predict=knn.predict(x_test)
y_predict

array([2, 1, 2, 2, 2, 2, 2, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 0, 2, 1, 0, 2,
       1, 1, 0, 2, 2, 1, 1, 1, 2, 2, 2, 0, 0, 0, 2, 2, 2, 0, 1, 2, 2, 2,
       1])

In [72]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))

0.9111111111111111