In [1]:
# Today Agenda
## - Logistic Regression
## - Svm(Support Vector Machine)

In [2]:
# Svm is the one of the classification model
# it provides high accuracy for classification
# classification data to separate the two variables margins draw chestundhi

In [3]:
# Now We Can Apply Svm for iris dataset

In [4]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()

In [5]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [6]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [7]:
iris['DESCR']

'.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'

In [8]:
df = pd.DataFrame(iris['data'])

In [9]:
df.columns = iris['feature_names']

In [10]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
df['target'] = iris['target']

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [13]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [14]:
df['target'].unique()

array([0, 1, 2])

In [15]:
# No of samples in the dataset
df.shape

(150, 5)

In [16]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [17]:
# is there any invalid values
# 1. all features should contain only numbers
# 2. does'nt accept string type values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [18]:
df.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
sepal length (cm),1.000000,-0.117570,0.871754,0.817941,0.782561
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126,-0.426658
petal length (cm),0.871754,-0.428440,1.000000,0.962865,0.949035
petal width (cm),0.817941,-0.366126,0.962865,1.000000,0.956547
target,0.782561,-0.426658,0.949035,0.956547,1.000000

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X = df.drop('target',axis=1)

In [21]:
y = df['target']

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7)

In [23]:
X_train

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
31                5.4               3.4                1.5               0.4
49                5.0               3.3                1.4               0.2
68                6.2               2.2                4.5               1.5
99                5.7               2.8                4.1               1.3
28                5.2               3.4                1.4               0.2
..                ...               ...                ...               ...
53                5.5               2.3                4.0               1.3
30                4.8               3.1                1.6               0.2
44                5.1               3.8                1.9               0.4
61                5.9               3.0                4.2               1.5
29                4.7               3.2                1.6               0.2

[105 rows x 4 columns]

In [24]:
y_train

31    0
49    0
68    1
99    1
28    0
     ..
53    1
30    0
44    0
61    1
29    0
Name: target, Length: 105, dtype: int32

In [25]:
from sklearn.svm import SVC # support vector classifier

In [26]:
model = SVC()

In [27]:
model.fit(X_train,y_train)

SVC()

In [28]:
y_pred = model.predict(X_test)

In [29]:
y_pred

array([0, 1, 0, 0, 0, 2, 0, 1, 0, 1, 2, 2, 1, 2, 2, 0, 0, 2, 0, 0, 1, 2,
       0, 0, 2, 1, 1, 1, 1, 0, 0, 0, 2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 1, 0,
       2])

In [30]:
from sklearn.metrics import accuracy_score

In [32]:
print(accuracy_score(y_test,y_pred)*100)

95.55555555555556

In [33]:
from sklearn.metrics import confusion_matrix

In [34]:
print(confusion_matrix(y_test,y_pred))

[[18  0  0]
 [ 0  9  0]
 [ 0  2 16]]

In [35]:
y_true = ["cat",'ant','cat','cat','ant','bird']
y_pred = ['ant','ant','cat','cat','ant','cat']
confusion_matrix(y_true,y_pred,labels = ['ant','bird','cat'])

array([[2, 0, 0],
       [0, 0, 1],
       [1, 0, 2]], dtype=int64)

In [ ]:
# left to right predicted values
# top to bottom Actual values
#        ant  bird cat

# ant    1+1   0    0

# bird    0    0   1
# cat     1    0   1+1