#### Logistic Regression
-  it works using sigmoid function
-  binomial calssification---2 classes

#### Dataset

[heart disease](https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/Heart_disease.csv)

In [20]:
import pandas as pd
df=pd.read_csv("heartdisease.csv")
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [23]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [24]:
#replacing the NAN values
import numpy as np
df["Thal"]=df["Thal"].replace(np.nan,'normal')
df["Ca"]=df["Ca"].replace(np.nan,'0.0')
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [25]:
#converting the string data columns to int
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df["AHD"]=labelencoder.fit_transform(df["AHD"])
df["ChestPain"]=labelencoder.fit_transform(df["ChestPain"])
df["Thal"]=labelencoder.fit_transform(df["Thal"])
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0,0,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,3,1,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,2,2,1
3,4,37,1,1,130,250,0,0,187,0,3.5,3,0,1,0
4,5,41,0,2,130,204,0,2,172,0,1.4,1,0,1,0

In [26]:
#iloc---indexlocation
x=df.iloc[:,1:14]
x.head(2)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,3,145,233,1,2,150,0,2.3,3,0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3,1

In [27]:
y=df["AHD"]
y.head(2)

0    0
1    1
Name: AHD, dtype: int64

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=25)

In [65]:
x.shape

(303, 13)

In [66]:
x_train.shape

(212, 13)

In [67]:
x_train.head(5)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
78,48,1,2,130,245,0,2,180,0,0.2,2,0,1
296,59,1,0,164,176,1,2,90,0,1.0,2,2,0
0,63,1,3,145,233,1,2,150,0,2.3,3,0,0
134,43,0,1,122,213,0,0,165,0,0.2,2,0,1
100,45,1,0,115,260,0,2,185,0,0.0,1,0,1

In [68]:
x_test.shape

(91, 13)

In [69]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Public\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
x_test.head(2)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
281,47,1,1,130,253,0,0,179,0,0.0,1,0,1
81,53,0,0,130,264,0,2,143,0,0.4,2,0,1

In [71]:
model.predict([[53,0,0,130,264,0,2,143,0,0.4,2,0,1]])

array([0], dtype=int64)

In [72]:
y_predict=model.predict(x_test)
y_predict

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0], dtype=int64)

In [73]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))

0.9010989010989011

In [ ]:
### Support vector machine